.container {
  text-align: center;
  background-color: red;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-form {
  display: flex;
  justify-content: center;
}
.container-buttons {
  display: flex;
  justify-content: center;
}
