
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// input.ng-touched.ng-invalid {
//   background-color: red !important;
// }

// input.ng-valid {
//   background-color: green !important;
// }

.container {
  text-align: center;
  background-color: red;
  color: white;
}

.container-form {
  display: flex;
  justify-content: center;
}
